tmp/
out/
sst/
opt/
log/
bkp/
shr/
inp/me/
.snakemake/
.DS_Store
.RData
.Rhistory
*~
*.swp
*.aux

# Various temporary files made by Rmd and Bookdown
_main_cache
_main_files
_main.Rmd
_bookdown_files

