summary.s1 {
	text-indent: 0%;
	font-weight: bold;
}

summary.s2 {
	text-indent: 5%;
	font-weight: bold;
	/* font-style: italic; */
}

summary.s3 {
	text-indent: 10%;
	/* font-style: italic; */
}

summary.s4 {
	text-indent: 15%;
}

summary.s5 {
	text-indent: 20%;
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: '▶️ ';
}

details[open] > summary::before {
    content: '🔽 ';
}

details {
    border: 1px solid gray;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}

.book-summary ul { padding-left: 0px !important; }
.book-summary li { font-size: 22px; }
.book-summary li a{ color: #000000 !important; }
.book-summary li li { font-size: 20px ; }
.book-summary li li a{ color: #202020 !important;}
.book-summary li li li { font-size: 18px ; }
.book-summary li li li a{ color: #404040 !important;}
.book-summary li li li li { font-size: 16px ;}
.book-summary li li li li a{ color: #606060 !important;}
.book-summary li li li li li { font-size: 14px ; }
.book-summary li li li li li a{ color: #808080 !important;}
.book-summary li li li li li li { font-size: 12px ; }
.book-summary li li li li li li a{ color: #A0A0A0 !important;}
.book-summary li li li li li li li { font-size: 11px ; }
.book-summary li li li li li li li a{ color: #C0C0C0 !important;}
.book-summary li li li li li li li li { font-size: 10px ;}
.book-summary li li li li li li li li a{ color: #E0E0E0 !important;}
